 .car .col-md-6 h1{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    line-height:60px;
    color:#0173c5;
    padding:20px auto;
    margin: 20px auto;
}
.car .col-md-6 img{
    margin: 20px auto;
    display: block;
    
}
.car .col-md-6 button{
    margin: 70px auto;
    display:block;
}

.car .col-md-6 .right img{
    height: 400px;
    width: 565px;
    margin: 0px;
    margin-right:50px;
    padding:10px;
    /* padding-right:20px;      */
    object-fit: fill;
    margin: 60px auto;
    display: block;
    border:10px solid #0173c5;
}

.headline{
    background-color: #0173c5;
}
.headline p{
    /* font-family: 'Barlow Condensed', sans-serif; */
    color:white;

    font-family: 'DM Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    padding:60px 70px;
    word-spacing: 5px;
    letter-spacing: 1px;
    line-height: 40px;
}
.about .col-md-6 img{
    
    height: 350px;
    margin:80px auto;
    display: block; 
    
}
.about{
        /* z-index: 500; */
            
        background:url("../images/BG1.jpg");
        height: 500px;
        background-size: cover;
        
        background-repeat: no-repeat;
}
.about .col-md-6 p{

    margin-top: 80px;
    color:gray;
    text-align: justify;
    text-align-last: left;
    padding:30px 100px 30px 10px;
    line-height: 40px;
    

}
.about .col-md-6 button{
    margin:auto;
    display:block;
    background-color: #0173c5;
}
.services h1{
    font-size:35px;
    padding-top:40px;
    text-align: center;
}
.services .col-md-4 img{
    height:200px;
    width: 350px;
    padding:20px auto;
    display:block;
}
.services .row{
    padding:80px 80px;
}
.services .col-md-4{
    padding:20px;
    
}
.services .col-md-4 h1{
    text-align: left;
    padding-top:20px;
    font-size: 25px;
}
.services .col-md-4 p{
    margin-top:20px;
    color:gray;
    font-size:15px;
    line-height: 30px;
    text-align: justify;
}
.services a{
    color:#0173c5;
}
.services a:hover{
    text-decoration: none;
    color:#0173c5;
}

.services .row button{
    margin:40px auto;
    display:block;
    background-color: #0173c5;
}
.services span{
    border-bottom: 5px solid #0173c5;
    padding-bottom:5px;
}
.testimonials{
    padding:40px;
    background-color: #0173c5;
}
.testimonials span{
    border-bottom: 5px solid #0173c5;
    padding-bottom:5px;
}
.testimonials h1{
    text-align: center;
    font-size:35px;
    color: white;
}
.testimonials .slide{
    
    padding:50px 100px;
    
}
.testimonials .slide .carousel{
    background-color: beige;
    /* box-shadow: 3px 3px 30px 30px gainsboro; */
    padding:100px;
}
.testimonials .slide .carousel-control-prev span{
    border:none;
}

.testimonials .slide .carousel-control-next span{
    border:none;
    
    
}
.testimonials .col-md-6 img{
    border-radius:50%;
    height: 300px;
    width:300px;
    margin:0px auto;
    display:block;  
    /* border: 10px solid bisque; */
    /* box-shadow:2px 2px 5px 0px gainsboro; */
}
.testimonials .col-md-6 h3{
    font-size: 25px;
    padding: 1px 40px;
}
.testimonials .col-md-6 p{
    padding:40px;
    line-height: 35px;
    padding-top:20px;
    color:#0173c5;
    
}
.carousel-control-next {
    filter: invert(100%);
}
.carousel-control-prev {
    filter: invert(100%);
}
.carousel-indicators{
    filter: invert(100%);
} 
@media screen and (max-width: 900px) {
    
.about{
    /* z-index: 500; */
        
    background:none;
    height:auto;
    background-size: cover;
    
    background-repeat: no-repeat;
}
.about .col-md-6 p{

    text-align: center;
    padding:20px;
    text-align-last: center;
    /* color:pink; */
}
.testimonials h1{
    text-align: center;
    font-size:35px;
}
.testimonials .slide{
    padding: 40px 0px;
    
}
.testimonials .slide .carousel{
    background: white;
    /* box-shadow: 3px 3px 30px 30px gainsboro; */
    padding:40px 10px;
}
.testimonials .slide .carousel-control-prev span{
    border:none;
}

.testimonials .slide .carousel-control-next span{
    border:none;
    
    
}
.testimonials .col-md-6 img{
    height: 150px;
    width: 150px;
    /* border: 10px solid bisque; */
    box-shadow:2px 2px 5px 0px gainsboro;
    margin:10px auto;
    display: block;
}
.testimonials .col-md-6 h3{
    font-size: 20px;
    text-align: center;
    /* padding: 1px 40px; */
}
.testimonials .col-md-6 p{
    padding:20px;
    line-height: 35px;
    padding-top:20px;
    color:gray;
    text-align: center;
    
}
.car .col-md-6 .right img
{
    height: 200px;
    width:auto;
}
.services .col-md-4 img{
    height:150px;
    width:200px;
    /* width: 350px; */
    padding:20px auto;
    display:block;
    margin:0px auto;
}
.services .col-md-4{
    padding:10px;
}
.services .col-md-4 h1{
    text-align: center;
}

}
footer{
    background-color: #151515;
    color:white;
    padding:40px;

}
footer a{
    color:white;
}

.car button{
    background-color: orange;
    border:none;
}
